.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ebe6e0;
    border-right: 1px solid #837d6d;
    box-shadow: 5px 0 8px rgba(255, 246, 246, 0.5); /* Shadow effect */
    /* overflow: auto; */
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 90px;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }

  .openbtn {
    height: 40px;
    position: absolute;
    top: 85px;
    right: 8px;
    font-size: 52px;
    margin-left: 56px;
    width: 40px
  }
  .closebtn{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 83px;
    right: -15px;
    font-size: 36px;
    margin-left: 50px;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }